.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Altura completa de la ventana del navegador */
}

.registration-form{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;  
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--tertiary-color);
}
.registration-form h1{
  text-align: center;
  color: var(--primary-color); /* Ajusta el color como en el diseño anterior */
  font-size:26px;
}

.registration-form p {  
  text-align: center;
  color: var(--primary-color); /* Ajusta el color como en el diseño anterior */
  font-size:16px;
}

#confirmacion-inscribete{  
  color: var(--text); /* Ajusta el color como en el diseño anterior */
  font-size:12px;
}


.registration-form label {  
  color: var(--text); /* Ajusta el color como en el diseño anterior */
  font-size:16px;
}
/* Asegúrate de que los términos y condiciones se alineen correctamente */
.terms {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.terms input[type='checkbox'] {
  
}

/* Para alinear los iconos junto a cada elemento */
.document-item {
  display: flex;
  justify-content: space-between; /* Ajustado para separar el texto de los íconos */
  align-items: center;
  border-radius: 20px;
}

.document-item i { /* Reemplaza 'i' con la clase correcta de tus iconos */
  margin-right: 0px; /* Ajusta la separación entre el icono y el texto */
}

input[type="text"], select {
  width: calc(100%); /* Ajuste para padding */
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--add-ons-color2);
  border-radius: 10px;
  box-sizing: border-box; /* Para incluir el padding en el ancho total */
  font-size: 14px;
}

.documents {
  
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.back-button, .next-button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--tertiary-color);
  background-color: var(--primary-color); /* Para el botón de regresar */
  width: 48%; /* Asegúrate de que ambos botones tengan el mismo ancho */
  font-size: 16px;
}

.next-button {
  background-color: var(--primary-color); /* Para el botón de siguiente */
}

.back-button:hover, .next-button:hover {
  opacity: 0.8;
  background-color: var(--featured-color); /* Ajusta el color de fondo al pasar el cursor */
}

#icon-inscribete {
  
  font-size: 17px;
  color: var(--primary-color);
  margin-bottom: 20px;
  }