.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Altura completa de la ventana del navegador */
}

.registration-card {
  background-color: var(--tertiary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 350px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-card h1 {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  text-align: center;
  margin: -20px -20px 20px -20px; /* Para extender el fondo hasta los bordes */
  padding: 10px;
  border-top-left-radius: 20px; /* Para mantener el borde redondeado */
  border-top-right-radius: 20px;
}

.registration-card p {
  color: var(--text);
  text-align: center;
  margin-bottom: 20px;
}

.registration-card form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

select, input[type="text"] {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--add-ons-color2);
  border-radius:10px;
}

.back-button, .next-button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--tertiary-color);
  background-color: var(--primary-color); /* Para el botón de regresar */
  width: 49%; /* Asegúrate de que ambos botones tengan el mismo ancho */
  font-size: 16px;
}

.next-button {
  background-color: var(--primary-color); /* Para el botón de siguiente */
}

.back-button:hover, .next-button:hover {
  opacity: 0.8;
  background-color: var(--featured-color); /* Ajusta el color de fondo al pasar el cursor */
}
